{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <h1>Votre panier:</h1>
    {% if items | length > 0 %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>
                            {{ item.qty }}
                            <a href="{{path('cart_decrement', {'id':item.product.id})}}" class="btn btn-sm btn-danger"><i class="fas fa-minus"></i></a>
                            <a href="{{path('cart_increment', {'id':item.product.id})}}" class="btn btn-sm btn-danger"><i class="fas fa-plus"></i></a>
                        </td>
                        <td>{{ item.total }}</td>
                        <td>
                            <a href="{{path('cart_delete', {'id':item.product.id})}}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">Total:</th>
                    <td colspan="2">{{ total }}</td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <h2>Votre panier est actuellemnt vide.</h2>
    {% endif %}

{% endblock %}