{% extends 'base.html.twig' %}

{% block title %}Product Category!{% endblock %}

{% block body %}
<h1>{{category.name}}</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item active">{{category.name}}</li>
</ol>
<div class="row">
    {% for product in category.products %}
    <div class="col-sm-3">
        <div class="card">
            <img src="{{product.mainPicture}}" class="img-fluid" alt="image du  produit">
            <div class="card-body">
                <div class="card-title">{{product.name}}</div>
                <p class="card-text">{{product.shortDescription}}</p>
                <a href="{{path('product_show',{'category_slug':product.category.slug,'slug':product.slug})}}" class="btn btn-info">En savoir plus</a>
                <a href="" class="btn btn-warning">Ajouter</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}